<!DOCTYPE html>
<html lang="en">
  <div class="header">
    {% block head %}
    <link href="/static/pure-release-0.6.2/pure-min.css" rel="stylesheet" media="screen">
    <link href="/static/pure-release-0.6.2/base-min.css" rel="stylesheet" media="screen">
    <link href="/static/pure-release-0.6.2/forms-min.css" rel="stylesheet" media="screen">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </div>
  <div id="header" class="content">
    <li>
      <a href="http://127.0.0.1:5000/home">Home</a>
      <a href="http://127.0.0.1:5000/search">Search</a>
      <a href="http://127.0.0.1:5000/signupSurvivor">SignUp</a>
      <a href="http://127.0.0.1:5000/loginSurvivor">Login/Update</a>
      <a href="http://127.0.0.1:5000/logout">Logout</a>
    </li>
  </div>
  <div id="content" class="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="footer" class="footer">
    {% block footer %}
    I'mAlive &copy; Copyright 2016-2017 by Esther Siram
    {% endblock %}
  </div>
</html>
