{% extends "base.html" %}

{% block title %}ImAlive Celebrate{% endblock %}

{% block content %}

<h1>I'mAlive Celebrate</h1>


<div action="http://127.0.0.1:5000/celebrate" method="get">
  <li> {{ message }} </li>
<li>{{ personalname }}, celebrate, you're alive!</li>
<li>Celebrate!!!!  On {{ signupDate }} {{ personalname }} registered with I'mAlive!</li>
<li>{{ personalname }}, you're information is updated!</li>

    <br>
    <br>
    <br>

   <div> <img src="static/happydance.gif"></div>
   <em>I'm Alive. Celebrate!</em>
</div>   
{% endblock %}


 
