{% extends "base.html" %}

{% block title %}SurvivorDeleteAccount{% endblock %}

{% block content %}

<h1>I'mAlive Delete Account Verification</h1>

<form action="http://127.0.0.1:5000/deleteSurvivor" method="post">
  {% if error %}
    <p><strong>{{ error }}</strong>
    <br>
  {% endif %}
    
    
    <br>
    <input type="radio" name="delete" value="no"> No, do not delete this account.
    <br>
    <br>
    <input type="radio" name="delete" value="yes"> Yes, delete this account.
    <br>
    
    Username (required to delete account):
    <input type="text" name="username"><br>
    Password (required to delete account):
    <input type="password" name="password"><br>
    <br>
    <input type="submit" value="Submit">

</form>

{% endblock%}
