{% extends "base.html" %}

{% block title %}SurvivorDeleteAccount{% endblock %}

{% block content %}

<h1>I'mAlive: Delete Account Verification</h1>

<form action="http://127.0.0.1:5000/deleteSurvivor" method="post" class="pure-form pure-form-aligned">
  
  {% if error %}
    <p><font color="#880000"; size="4";>{{ error }}</font>
    <br></br>
  {% endif %}
    
  <div class="pure-control-group">
    <label for="deleteContainer">Delete This Account?</label>
    <input type="radio" name="delete" id="no" value="no"> No, do not delete this account</input>
    <input type="radio" name="delete" id="yes" value="yes"> Yes, delete this account</input>
  </div>
      
  <div class="pure-control-group">
    <label for="username"> Username:</label>
    <input type="text" name="username" placeholder="Required to Delete Account"></input>
  </div>

  <div class="pure-control-group">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Required to Delete Account"></input>
  </div>  
  <br></br>

  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
  </div>  
</form>
<br></br>
{% endblock%}
