{% extends "base.html" %}
{% block title %} I'mAlive Home {% endblock %}
{% block content %}

<li><h1>I'mAlive Home</h2></li>

<form id="home-form" action="http://127.0.0.1:5000" method="post">

  {% if message %}
      <p><strong>{{ message }}</strong>
  {% endif %}  
  
  <input type="radio" name="doWhat" value="search"> Look Up Someone<br>
  <input type="radio" name="doWhat" value="signup"> Sign Up To Tell Others You Live<br>
  <input type="radio" name="doWhat" value="login"> Log In To Update Your Information<br>
   <br>
  <input type="submit" value="Submit">
   <br>
       {% if error %} 
           <p><strong>{{ error }}</strong>
       {% endif %}

</form>  
  
  
{% endblock %}

