{% extends "base.html" %}

{% block title %} ImAlive Search {% endblock %}

{% block content %}
<h1>I'mAlive Search Page</h1>

<form action="http://127.0.0.1:5000/search" method="post">
  
  {% if error %}
  <p><strong> Error: {{ error }}</strong>
  <br>
  {% endif %}

  
    Family (Last) Name*:
    <input type="text" name="familyname"> <br>
    Personal (First) Name*:
    <input type="text" name="personalname"> <br>
    Additional Name(s):
    <input type="text" name="additionalname"> <br>
    <br>

    Gender:<br>
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other<br>
    <br>
    
    Age:
    <input type="text" name="age"><br>
    Birth Year:
    <input type="text" name="year"><br>
    Birth Month:
    <input type="text" name="month"><br>
    Birthday:
    <input type="text" name="day"><br>
	   
    <br>	   
    <br>
    
    Origin Country:
    <input type="text" name="country"><br>	   
    Origin City:
    <input type="text" name="city"><br>
    Origin County:
    <input type="text" name="county"><br>
    Origin Village/Neighborhood/Borough/Town:
    <input type="text" name="village"><br>   	       
    Other Origin Information:
    <input type="text" name="other"<br>
	   
    <br>
    <br>
    <br>

    <input type="submit" value="Submit">

</form>    

 {% endblock %}   
