{% extends "base.html" %}

{% block title %} ImAliveSearch {% endblock %}

{% block content %}
<h1>I'mAlive: Search</h1>

<form action="http://127.0.0.1:5000/search" method="post" class="pure-form pure-form-aligned">
  
  {% if error %}
  <p><strong>{{ error }}</strong>
  <br>
  {% endif %}

  <div class="pure-control-group">
    <label for="familyname">Family (Last) Name*:</label>
    <input type="text" name="familyname">
  </div>

  <div class="pure-control-group">
    <label for="personalname">Personal (First) Name*:</label>
    <input type="text" name="personalname">
  </div>

  <div class="pure-control-group">
    <label for="additionalname">Additional Name(s):</label>
    <input type="text" name="additionalname">
  </div>  
  <br></br>

  <div class="pure-control-group">
    <label for="genderContainer">Gender:</label>
    <input type="radio" name="gender" value="Male"> Male </input>
    <input type="radio" name="gender" value="Female"> Female </input>
    <input type="radio" name="gender" value="Other"> Other </input>
  </div>  
  <br></br>

  <div class="pure-control-group">
    <label for"age">Age:</label>
    <input type="text" name="age"></input>
  </div>
  
  <div class="pure-control-group">
    <label for"year"> Birth Year:</label>
    <input type="text" name="year"></input>
  </div>

  <div class="pure-control-group">
    <label for"month"> Birth Month:</label>
    <input type="text" name="month"></input>
  </div>

  <div class="pure-control-group">
    <label for="day"> Birthday:</label>
    <input type="text" name="day"></input>
  </div>      
  <br></br>

  <div class="pure-control-group">
    <label for="country"> Origin Country:</label>
    <input type="text" name="country"></input>
  </div>

  <div class="pure-control-group">
    <label for="state"> Origin State/Province:</label>
    <input type="text" name="state"></input>
  </div>

  <div class="pure-control-group">
    <label for="city"> Origin City:</label>
    <input type="text" name="city"></input>
  </div>

  <div class="pure-control-group">
    <label for="county"> Origin County:</label>
    <input type="text" name="county"></input>
  </div>

  <div class="pure-control-group">
    <label for="village"> Origin Village/ Neighborhood/ Borough/ Town:</label>
    <input type="text" name="village"></input>
  </div>

  <div class="pure-control-group">
    <label for="other"> Other Origin Information:</label>
    <input type="text" name="other"<input>
  </div>	   
  <br></br>

  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>

</form>
<br></br>
{% endblock %}   
