{% extends "base.html" %}

{% block title %}SurvivorSignup{% endblock %}

{% block content %}
<h1>I'mAlive: Signup</h1>
   
<form action="http://127.0.0.1:5000/signupSurvivor" method="post" class="pure-form pure-form-aligned">

    {% if error %}
    <p><strong>Error: {{ error }}</strong>
    <br></br>
    {% endif %}
    
    <div class="pure-control-group">
      <label for="familyname">Family (Last) Name*:</label>
      <input type="text" name="familyname"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="personalname">Personal (First) Name*:</label>
      <input type="text" name="personalname"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="additionalname">Additional Name(s):</label>
      <input type="text" name="additionalname"></input>
    </div>
    <br></br>

    <div class="pure-control-group">
      <label for="genderContainer">Gender:</label>
      <input type="radio" name="gender" id="male" value="Male"> Male </input>
      <input type="radio" name="gender" id="female" value="Female"> Female </input>
      <input type="radio" name="gender" id="other" value="Other"> Other </input>
    </div>
    <br></br>
    
    <div class="pure-control-group">
      <label for="age">Age:</label>
      <input type="text" name="age"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="year">Birth Year:</label>
      <input type="text" name="year"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="month">Birth Month:</label>
      <input type="text" name="month"></input>
    </div>
    <div class="pure-control-group">
      <label for="day">Birthday:</label>
      <input type="text" name="day"></input>
    </div>
    <br></br>
    
    <div class="pure-control-group">
      <label for="country">Origin Country:</label>
      <input type="text" name="country"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="state">Origin State/Province:</label>
      <input type="text" name="state"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="city">Origin City:</label>
      <input type="text" name="city"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="county">Origin County:</label>
      <input type="text" name="county"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="village">Origin Village/ Neighborhood/ Borough/ Town:</label>
      <input type="text" name="village"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="other">Other Origin Information:</label>
      <input type="text" name="other"></input>
    </div>
    <br></br>
    
    <div class="pure-control-group">
      <label for="sos">Are You In Danger?</label>
      <input type="radio" name="sos" value="Yes"> Yes, please help.</input>
      <input type="radio" name="sos" value="No"> No, thank you.</input>
    </div>
    <div class="pure-control-group">
      <label for="otherSOS"><i>If yes, share about your danger here:</i></label>
      <input type="text" name="otherSOS"></input>
    </div>
    <br> </br>
    
    <div class="pure-control-group">
      <label for="username">Choose a Username*:</label>
      <input type="username" name="username"></input>
    </div>
    
    <div class="pure-control-group">
      <label for="password">Create a Password*:</label>
      <input type="password" name="password"></input>
    </div>

    <div class="pure-control-group">
      <label for="password2">Retype Password for Verification*:</label>
      <input type="password" name="password2"></input>
    </div>
    <br></br>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>
</form>
<br></br>
{% endblock %}
