<!DOCTYPE html>
<html>
  <head>
    <title>SurvivorSignup</title>
  </head>


  <form>
    Family (Last) Name:
    <input type="text" name="familyname"> <br>
    Personal (First) Name:
    <input type="text" name="personalname"> <br>

    Gender:<br>
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other<br>
    
    Age:<br>
    <input type="text" name="age"<br>
	   Birthday:<br>
	   Year:
	   <input type="text" name="year"><br>
	   Month:
	   <input type="text" name="month"><br>
	   Day:
	   <input type="text" name="day"><br>
	   
	   
    Origin Country:<br>
    <input type="text" name="country"<br>
    Origin City/County:<br>
    <input type="text" name="city"<br>	   

    Are you in danger?<br>    
    <input type="radio" name="sos" value="yes"> Yes, please help.<br>
    <input type="radio" name="sos" value="no"> No, thank you.<br>
    <input type="text" name="other"<br>	   

    Create a password please:<br>
    <input type="password" name="password"<br>
    Retype the password to verify it:<br>
    <input type="password" name="password2"<br>

	   <br>

    <input type="submit" value="Submit">	   
	   
	   
  </form>
</html>
