{% extends "base.html" %}

{% block title %}SurvivorUpdate{% endblock %}

{% block content %}
<h1>I'mAlive: Update Information</h1>

    {% if message %}
      <li><strong>{{ message }}</strong></li>
    {% endif %}
      <br>
    {% if message2 %}
      <li><i>{{ message2 }}:</i></li>
    {% endif %}
	
<form action="http://127.0.0.1:5000/updateSurvivor" method="post">

    {% if error %}
         <p><strong>Error: {{ error }}</strong></p>
         <br>
    {% endif %} 
  
    Family (Last) Name*:{% if familyname2 %}<b>{{ familyname2 }}</b>{% endif %}<br>
    Personal (First) Name*: {% if personalname2 %}<b>{{ personalname2 }}</b>{% endif %}<br>
    Additional Name(s):
    <input type="text" name="additionalname">{% if additionalname2 %}<b>{{ additionalname2 }}</b>{% endif %}<br>
    <br>

    Gender: {% if gender2 %}<b>{{ gender2 }}</b>{% endif %}<br>
    <input type="radio" name="gender" id="male" value="Male"> Male<br>
    <input type="radio" name="gender" id="female" value="Female"> Female<br>
    <input type="radio" name="gender" id="other" value="Other"> Other<br>
    <br>
    
    Age:
    <input type="text" name="age">{% if age2 %}<b>{{ age2 }}</b>{% endif %}<br>
    Birth Year:
    <input type="text" name="year">{% if year2 %}<b>{{ year2 }}</b>{% endif %}<br>
    Birth Month:
    <input type="text" name="month">{% if month2 %}<b>{{ month2 }}</b>{% endif %}<br>
    Birthday:
    <input type="text" name="day">{% if day2 %}<b>{{ day2 }}</b>{% endif %}<br>
	   
    <br>	   
    <br>
    
    Origin Country:
    <input type="text" name="country">{% if country2 %}<b>{{ country2 }}</b>{% endif %}<br>
    Origin State/Province:
    <input type="text" name="state">{% if state2 %}<b>{{ state2 }}</b>{% endif %}<br>
    Origin City:
    <input type="text" name="city">{% if city2 %}<b>{{ city2 }}</b>{% endif %}<br>
    Origin County:
    <input type="text" name="county"><br>
    Origin Village/Neighborhood/Borough/Town:
    <input type="text" name="village"><br>
    Other Origin Information:
    <input type="text" name="other"<br>

    <br>	   
    <br>

    
    Are You In Danger?<br>    
    <input type="radio" name="sos" value="yes"> Yes, please help.<br>
    <input type="radio" name="sos" value="no"> No, thank you.<br>
    If Yes, You May Share Other Information About Your Danger Here:
    <input type="text" name="otherSOS"<br>
	   
    <br>
    <br>
    <br>
    
    Change Password:<br>
    <input type="radio" name="password" value="Yes"> Yes, please.<br>
    <input type="radio" name="password" value="No"> No, thank you.<br>
    
    <br>	   
    <br>
    <br>

    
    Delete This I'mAlive Account:<br>
    <input type="radio" name="delete" value="Yes"> Yes, please.<br>
    <input type="radio" name="delete" value="No"> No, thank you.<br>

    <br>
    <br>
    <br>
    
    <input type="submit" value="Submit">

	   
	   
  </form>
{% endblock %}
