{% extends "base.html" %}

{% block title %}SurvivorUpdate{% endblock %}

{% block content %}
<h1>I'mAlive: Update Information</h1>
<!--
<div action="http://127.0.0.1:5000/updateSurvivor" method="get">
-->
    {% if message %}
         <li><strong>{{ message }}</strong></li>
    {% endif %}
	 <br>
	 <br>
    {% if message2 %}
        <li>{{ message2}}</li>
    {% endif %}
  
<form action="http://127.0.0.1:5000/updateSurvivor" method="post">

    {% if error %}
         <p><strong>Error: {{ error }}</strong></p>
         <br>
    {% endif %} 
  
    Family (Last) Name*:
    <input type="text" name="familyname"><br> <!-- value="{{ familyname }}"-->
    Personal (First) Name*:
    <input type="text" name="personalname"> <br>
    Additional Name(s):
    <input type="text" name="additionalname"> <br>
    <br>

    Gender:<br>
    <input type="radio" name="gender" id="male" value="male"> Male<br>
    <input type="radio" name="gender" id="female" value="female"> Female<br>
    <input type="radio" name="gender" id="other" value="other"> Other<br>
    <br>
    
    Age:
    <input type="text" name="age"><br>
    Birth Year:
    <input type="text" name="year"><br>
    Birth Month:
    <input type="text" name="month"><br>
    Birthday:
    <input type="text" name="day"><br>
	   
    <br>	   
    <br>
    
    Origin Country:
    <input type="text" name="country"><br>
    Origin State/Province:
    <input type="text" name="state"><br>
    Origin City:
    <input type="text" name="city"><br>
    Origin County:
    <input type="text" name="county"><br>
    Origin Village/Neighborhood/Borough/Town:
    <input type="text" name="village"><br>
    Other Origin Information:
    <input type="text" name="other"<br>

    <br>	   
    <br>

    
    Are You In Danger?<br>    
    <input type="radio" name="sos" value="yes"> Yes, please help.<br>
    <input type="radio" name="sos" value="no"> No, thank you.<br>
    <br>
    If Yes, You May Share Other Information About Your Danger Here:
    <input type="text" name="otherSOS"<br>
	   
    <br>
    <br>
    <br>
    
    Change Password:
    <input type="password" name="password"<br>
    <br>
    Retype New Password for Verification:
    <input type="password" name="password2"<br>
    
    <br>	   
    <br>
    <br>

    Log Out Without Changing Your Information:<br>
    <input type="radio" name="logout" value="yes"> Yes, please.<br>
    <input type="radio" name="logout" value="no"> No, thank you.<br>

    <br>
    <br>
    <br>
    
    <input type="submit" value="Submit">

	   
	   
  </form>
{% endblock %}
